<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="bootstrap.php" colors="true">

    <testsuites>
        <testsuite name="Shoplo">
            <directory>./tests/Shoplo/Tests</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory suffix=".php">./src/Shoplo</directory>
        </whitelist>
    </filter>

</phpunit>